header {
  margin-bottom: 20px;
}

#doctor-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Adjust as needed */
}

#doctor-picture img {
  max-width: 100%;
  height: auto;
  width: 200px; /* Resize the image */
  border-radius: 50%; /* Make the image circular if it's square */
}

.contact-info {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.contact-info a {
  display: block;
  color: #e41ed4;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-info a i {
  margin-right: 5px;
}

#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#titulo h1 {
  margin: 0;
  font-size: 2em;
}

#titulo p {
  margin: 5px 0 0 0; /* Adjust top margin to reduce space */
  font-size: 1em;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

#grid-container section {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

#grid-container section h2 {
  margin-top: 0;
}
